@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html , body {
    width: 140vw;
    height: 150vh;
    background-color: rgb(247, 192, 247);
    background-size: contain;
}

body {
    background-image: url("../imagens/back-pc.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
}

